:root {
    --color: #EEEEEE;
    --background: #222222;
    --hiBackground: #444444;
    --subheader: #BBBBBB;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #181800;
    color: var(--color);
}
table, td, th {
    border-style: none;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
th {
    color: var(--subheader);
}
input {
    font-size: 1em;
    background: var(--background);
    border: 1px;
    border-color: var(--color);
    border-style: solid;
}
input[type=text], input[type=date] {
    color: #EEEEEE;
}
input[type=text]:focus {
    caret-color: var(--color);
    border: 3px;
    border-color: var(--color);
    border-style: solid;
}
input[type=button] {
    color: #00FF00;
}
input[type=submit] {
    color: #00FF00;
}
a {
    color: #00B0FF;
}
p, h4 {
    margin: 0em 0em 0.5em 0em;
}
h4 {
    color: #BBBBBB;
}
select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background: var(--background);
    color: var(--color);
    border: 1px;
    border-color: var(--color);
    border-style: solid;
}
.intd {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.intd1 {
    padding-top: 0.25em;
    padding-left: 0.25em;
}
.intd2 {
    padding-top: 0.25em;
    padding-left: 0.25em;
    text-align: right;
}
.outtd {
    padding-right: 1em;
}
.outnum {
    padding-right: 1em;
    text-align: right;
}
.oddResult { /* even result = ".outtd" */
    padding-right: 1em;
    background: var(--hiBackground);
}
.result {
    font-size: 0.75em;
}
.loss {
    color: red;
}
.profit {
    color: #00FF00;
}
.subheader {
    color: var(--subheader);
}